


@if (!string.IsNullOrEmpty(@ViewBag.erro))
{
    <div class="alert alert-danger">
        <h3>@ViewBag.erro</h3>
    </div>
}

<div class="text-left">
    <h1>OLÁ, SEJA BEM VINDO!</h1>
    <hr />

    <br />
    <h3> FERRAMENTAS E TECNOLOGIAS UTILIZADAS </h3>
    <div>
        <ul>
            <li> VISUAL STUDIO 2017</li>
            <li> SQL SERVER 2016</li>
            <li> ADMIN LTE 2 TAMPLATE </li>
            <li> BOOTSTRAP </li>
            <li> .NET FRAMEWORK 4.6 </li>
            <li> ASP .NET MCC </li>
        </ul>
    </div>

    <br />

    <h4> OBS: OS SCRIPTS DE CRIAÇÃO DO BANCO DE DADOS ESTÃO NO DIRETÓRIO RAIZ DA APLICAÇÃO. 
    <br />\TesteBNP\ScriptBancoDados </h4>

</div>



<br />
<div class="text-left">
    <h3>MEUS CONTATOS</h3>
    <p> Nome: Gisioná Costa de Souza</p>
    <p> Tel: (11) 97951-0575</p>
    <p> E-mail: Gil-real@hotmail.com</p>
</div>

